<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @food_week.week_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @food_week.day_id %>
</p>

<p>
  <strong>Soup1:</strong>
  <%= @food_week.soup1_id %>
</p>

<p>
  <strong>Soup2:</strong>
  <%= @food_week.soup2_id %>
</p>

<p>
  <strong>Food1:</strong>
  <%= @food_week.food1_id %>
</p>

<p>
  <strong>Food2:</strong>
  <%= @food_week.food2_id %>
</p>

<p>
  <strong>Food3:</strong>
  <%= @food_week.food3_id %>
</p>

<p>
  <strong>Food4:</strong>
  <%= @food_week.food4_id %>
</p>

<%= link_to 'Edit', edit_food_week_path(@food_week) %> |
<%= link_to 'Back', food_weeks_path %>
