<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @menu.week_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @menu.day_id %>
</p>

<p>
  <strong>Soup1:</strong>
  <%= @menu.soup1_id %>
</p>

<p>
  <strong>Soup2:</strong>
  <%= @menu.soup2_id %>
</p>

<p>
  <strong>Food1:</strong>
  <%= @menu.food1_id %>
</p>

<p>
  <strong>Food2:</strong>
  <%= @menu.food2_id %>
</p>

<p>
  <strong>Food3:</strong>
  <%= @menu.food3_id %>
</p>

<p>
  <strong>Food4:</strong>
  <%= @menu.food4_id %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
