<%= form_with(model: meal) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :week_id %>
    <%= form.text_field :week_id %>
  </div>

  <div class="field">
    <%= form.label :day_id %>
    <%= form.text_field :day_id %>
  </div>

  <div class="field">
    <%= form.label :soup1_id %>
    <%= form.text_field :soup1_id %>
  </div>

  <div class="field">
    <%= form.label :soup2_id %>
    <%= form.text_field :soup2_id %>
  </div>

  <div class="field">
    <%= form.label :food1_id %>
    <%= form.text_field :food1_id %>
  </div>

  <div class="field">
    <%= form.label :food2_id %>
    <%= form.text_field :food2_id %>
  </div>

  <div class="field">
    <%= form.label :food3_id %>
    <%= form.text_field :food3_id %>
  </div>

  <div class="field">
    <%= form.label :food4_id %>
    <%= form.text_field :food4_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
