<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @meal.week_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @meal.day_id %>
</p>

<p>
  <strong>Soup1:</strong>
  <%= @meal.soup1_id %>
</p>

<p>
  <strong>Soup2:</strong>
  <%= @meal.soup2_id %>
</p>

<p>
  <strong>Food1:</strong>
  <%= @meal.food1_id %>
</p>

<p>
  <strong>Food2:</strong>
  <%= @meal.food2_id %>
</p>

<p>
  <strong>Food3:</strong>
  <%= @meal.food3_id %>
</p>

<p>
  <strong>Food4:</strong>
  <%= @meal.food4_id %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
